node_modules/
/.env
test-results/
.last-run.json
dist/
/test/wpt/tests/
/node-compat/experimental/
/node-compat/addon/build/
/node-compat/.cache/

/vendor/jsdom/
/vendor/*/
!/vendor/_patches/
!/vendor/_patches/**
